.Splash {
  background-image: url("./space-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

* {
  color: white;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(60, end);
}

@keyframes type {
  from {
    width: 0;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #09d3ac;
}

.App {
  background-image: url("./space-background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
#msg {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  width: 100vw;
}

.button {
  display: flex;
  justify-content: center;

  button {
    font-family: "Press Start 2P", cursive;
    color: white;
    background-color: purple;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 35px;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
  }
  button:hover {
    background-color: white;
    color: teal;
  }
}

.createdBy {
  animation-duration: 2s;
  animation-delay: 1s;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
}

// p{
//   color: Pink;
//   font-family: "Courier";
//   font-size: 20px;
//   margin: 10px 0 0 10px;
//   white-space: nowrap;
//   overflow: hidden;
//   width: 30em;
//   animation: type 4s steps(60, end);
// }

// @keyframes type{
//   from { width: 0; }
// }
